article {
    margin-top: 40px;
}

article h3 {
    margin-bottom: 3px;
    text-transform: uppercase;
}

article span {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
}

article p {
    font-size: 15px;
}